@model IEnumerable<WebStore.Models.EmployeeView>

@{
    ViewData["Title"] = "Index";
}



<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.SurName</td>
            <td>@item.FirstName</td>
            <td>@item.Patronymic</td>
            <td>@item.Position</td>
            <td>@item.Position</td>
        </tr>
    }
</table>